body {
    margin: 0;
    padding: 0;
}

button {
    border: none;
    border-radius: 14px;
    cursor: pointer;
}

h1,
h2 {
    color: #0A093D;
    font-weight: bold;
}

h2 {
    font-size: 36px;
    line-height: 48px;
    margin: 0;
}

h3 {
    margin: 0;
    font-size: 18px;
    line-height: 18px;
    color: #217BF4;
}

h4 {
    margin: 0;
    font-size: 24px;
    line-height: 26px;
    color: #2F2C4A;
}

p {
    color: #656464;
    font-size: 18px;
    line-height: 28px;
    margin: 0;
}

a {
    text-decoration: none;
}

.container {
    max-width: 1170px;
    margin: 0 auto;
}

.highlighted {
    color: #217BF4;
    font-weight: 600;
}

/* ===== HEADER ===== */

header {
    position: fixed;
    top: 22px;
    height: 68px;
    width: 100%;
    border-bottom: 1px solid rgba(31, 123, 244, 0.1);
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header div:first-child {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav {
    display: flex;
    gap: 32px;
    margin-left: 72px;
    font-size: 14px;
}

nav a {
    color: #656464;
}

nav a.selected {
    color: #2B2B39;
}

.search {
    width: 105px;
    height: 50px;
    background: none;
    border: none;
    border-bottom: 1px solid #E5E5E5;
    margin-right: 42px;
}

.header button {
    width: 123px;
    height: 50px;
    color: white;
    background: #217BF4 0% 0% no-repeat padding-box;
    box-shadow: 0px 7px 44px #217BF41A;
}

/* ===== TOP SECTION ===== */

.top {
    height: 746px;
    background: transparent linear-gradient(325deg, #D4E7FE 0%, #FFFFFF 100%) 0% 0% no-repeat padding-box;
}

.top .container {
    display: flex;
    justify-content: space-between;
}

.top img {
    margin-top: 162px;
}

.introduction {
    padding-top: 215px;
    max-width: 515px;
}

h1 {
    font-size: 56px;
    line-height: 66px;
    margin: 20px 0;
}

.introduction p {
    margin-bottom: 39px;
}

.introduction div {
    display: flex;
    gap: 18px;
}

.introduction div button:first-child {
    width: 192px;
    height: 58px;
    color: white;
    background: #217BF4 0% 0% no-repeat padding-box;
    box-shadow: 0px 10px 20px #217BF442;
}

.introduction div button:last-child {
    width: 167px;
    height: 62px;
    color: #217BF4;
    border: 1px solid #1f7bf480;
}

.comunity-btn {
    width: 177px;
    height: 36px;
    color: #217BF4;
    background: #1f7bf41a 0% 0% no-repeat padding-box;
    border-radius: 8px;
}

/* ===== ABOUT SECTION ===== */

.about .container {
    margin: 118px auto;
    display: flex;
    justify-content: space-between;
}

.about .text {
    padding-top: 62px;
    max-width: 360px;
}

.about h2 {
    margin-top: 9px;
    margin-bottom: 24px;
}

.about p {
    margin: 0;
    font-size: 16px;
}

.about ul {
    margin-top: 67px;
}

.about li {
    margin-bottom: 12px;
    color: #217BF4;
    font-size: 20px;
}

.about li span {
    font-size: 18px;
    line-height: 18px;
    letter-spacing: 0px;
    color: #171648;
    cursor: pointer;
}

.about .photos {
    display: flex;
    gap: 29px;
}

.about .photos div:first-child {
    margin: 70px 0;
    position: relative;
}

.about .play {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about .play img {
    size: 44px;
    cursor: pointer;
}

.about .photos div:last-child {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

/* ===== ACHIEVEMENT SECTION ===== */

.achievement {
    margin-bottom: 127px;
}

.achievement .container {
    display: flex;
    flex-direction: row;
}

.achievement .card {
    flex-shrink: 0;
    margin-right: 24px;
    box-sizing: border-box;
    width: 336px;
    height: 340px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #B9B9B945;
    border-radius: 14px;
    padding: 44px 18px 0 46px;
}

.achievement .card:first-child {
    box-shadow: 0px 26px 98px #92A5B824;
}

.achievement .card h4 {
    display: flex;
    align-items: center;
    gap: 12px;
    margin: 0 0 32px 0;
    font-size: 20px;
    line-height: 20px;
    letter-spacing: 0px;
    color: #0A093D;
}

.achievement .info {
    display: flex;
    gap: 16px;
    align-items: center;
    margin-bottom: 44px;
}

.achievement .info div {
    height: 24px;
}

.achievement .card .avatar {
    width: 24px;
    height: 24px;
    object-fit: none;
    object-position: -47px -38px;
}

.achievement .card .avatar:not(:first-child) {
    margin-left: -8px;
}

.achievement .info p {
    color: #5D5B70;
    font-size: 16px;
    line-height: 18px;
}

.achievement .card>p {
    color: #8C8C8C;
    font-size: 16px;
    line-height: 26px;
    margin-bottom: 41px;
}

.achievement .card a {
    color: #4A4A56;
    font-size: 16px;
    line-height: 16px;
    font-weight: 600;
}

.achievement .card a img {
    margin-left: 9px;
}

.achievement .text {
    margin-left: 69px;
}

.achievement h2 {
    margin: 9px 0 21px 0;
}

.achievement .text button {
    margin-top: 42px;
    width: 192px;
    height: 58px;
    background: #217BF4 0% 0% no-repeat padding-box;
    box-shadow: 0px 10px 20px #217BF442;
    border-radius: 14px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    font-size: 14px;
    line-height: 14px;
}

/* ===== COMUNITY SECTION ===== */

.comunity {
    padding: 59px 0 173px 0;
    background: transparent linear-gradient(0deg, #F1F6FD00 14%, #F1F6FD 30%, #F1F6FD 64%, #FFFFFF 100%) 0% 0% no-repeat padding-box;
}

.comunity .headings {
    text-align: center;
    max-width: 420px;
    margin: 0 auto 68px auto;
}

.comunity h2 {
    line-height: 36px;
    margin: 3px 0 20px 0;
}

.comunity .headings p {
    font-size: 16px;
    padding: 0 20px;
}

.comunity .cards {
    display: flex;
    justify-content: center;
    gap: 44px;
    flex-wrap: wrap;
}

.comunity .card {
    box-sizing: border-box;
    width: 522px;
    background-color: white;
    box-shadow: 14px 22px 104px #7F7F7F21;
    border-radius: 14px;
    padding: 45px 40px;
    display: flex;
    gap: 36px;
}

.comunity .icon {
    border-radius: 24px;
    width: 66px;
    height: 66px;
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.comunity .icon.blue {
    background: #287FF5 0% 0% no-repeat padding-box;
    box-shadow: 0px 10px 44px #6DABFF5C;
}

.comunity .icon.red {
    background: #F1464D 0% 0% no-repeat padding-box;
    box-shadow: 0px 8px 44px #F8575E4D;
}

.comunity .icon.yellow {
    background: #FFB133 0% 0% no-repeat padding-box;
    box-shadow: 0px 10px 44px #FABA544D;
}

.comunity .card h4 {
    margin: 5px 0 16px 0;
}

.comunity .card p {
    font-size: 16px;
    line-height: 26px;
}

/* ===== TEAM SECTION ===== */

.team {
    margin: 117px 0 120px 0;
}

.team .headings {
    text-align: center;
    max-width: 474px;
    margin: 0 auto 0 auto;
}

.team h2 {
    line-height: 36px;
    margin: 3px 0 20px 0;
}

.team .headings .buttons {
    margin: 42px 0 44px 0;
    background: #217cf40f 0% 0% no-repeat padding-box;
    border-radius: 14px;
    height: 72px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.team .headings button {
    color: #2f2c49cc;
    font-size: 16px;
    line-height: 16px;
    width: 150px;
    height: 56px;
    border-radius: 14px;
    background: none;
}

.team .headings button.selected {
    background: #217BF4 0% 0% no-repeat padding-box;
    box-shadow: 0px 7px 44px #0048A857;
    color: white;
}

.team .members {
    display: flex;
    gap: 30px;
}

.team .card {
    padding: 30px 0 0 0;
    width: 270px;
    height: 316px;
    text-align: center;
}

.team .card .avatar {
    position: relative;
    width: 166px;
    height: 166px;
    margin: 0 auto 34px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: 4px solid #FFAF2E;
}

.team .card .check {
    position: absolute;
    bottom: -6px;
}

.team .card h4 {
    font-weight: 600;
    margin-bottom: 10px;
}

.team .card p {
    font-size: 16px;
    line-height: 16px;
}

/* ===== APPLICATION SECTION ===== */

.application {
    margin-bottom: 118px;
    height: 558px;
    background: #E5F0FD;
}

.application .container {
    display: flex;
    justify-content: space-between;
}

.application .text {
    max-width: 360px;
}

.application h3 {
    margin: 120px 0 11px 0;
}

.application p {
    margin: 27px 0 39px 0;
}

.application .container>img {
    margin-right: -135px;
}

.application .buttons a:first-child img {
    width: 145px;
    height: 52px;
    object-fit: none;
    object-position: center;
    margin-right: 20px;
}
