body {
    margin: 0;
    padding: 0;
}

button {
    border: none;
    border-radius: 14px;
    cursor: pointer;
}

h1,
h2 {
    color: #0A093D;
    font-weight: bold;
}

h2 {
    font-size: 36px;
    line-height: 48px;
}

p {
    color: #656464;
    font-size: 18px;
    line-height: 28px;
}

.container {
    max-width: 1170px;
    margin: 0 auto;
}

/* ===== HEADER ===== */

header {
    position: fixed;
    top: 22px;
    height: 68px;
    width: 100%;
    border-bottom: 1px solid rgba(31, 123, 244, 0.1);
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header div:first-child {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav {
    display: flex;
    gap: 32px;
    margin-left: 72px;
    font-size: 14px;
}

nav a {
    color: #656464;
    text-decoration: none;
}

nav a.selected {
    color: #2B2B39;
}

.search {
    width: 105px;
    height: 50px;
    background: none;
    border: none;
    border-bottom: 1px solid #E5E5E5;
    margin-right: 42px;
}

.header button {
    width: 123px;
    height: 50px;
    color: white;
    background: #217BF4 0% 0% no-repeat padding-box;
    box-shadow: 0px 7px 44px #217BF41A;
}

/* ===== TOP SECTION ===== */

.top {
    height: 746px;
    background: transparent linear-gradient(325deg, #D4E7FE 0%, #FFFFFF 100%) 0% 0% no-repeat padding-box;
}

.top .container {
    display: flex;
    justify-content: space-between;
}

.top img {
    margin-top: 162px;
}

.introduction {
    padding-top: 215px;
    max-width: 515px;
}

h1 {
    font-size: 56px;
    line-height: 66px;
    margin: 20px 0;
}

.introduction p {
    margin-bottom: 39px;
}

.introduction div {
    display: flex;
    gap: 18px;
}

.introduction div button:first-child {
    width: 192px;
    height: 58px;
    color: white;
    background: #217BF4 0% 0% no-repeat padding-box;
    box-shadow: 0px 10px 20px #217BF442;
}

.introduction div button:last-child {
    width: 167px;
    height: 62px;
    color: #217BF4;
    border: 1px solid #1f7bf480;
}

.comunity {
    width: 177px;
    height: 36px;
    color: #217BF4;
    background: #1f7bf41a 0% 0% no-repeat padding-box;
    border-radius: 8px;
}

/* ===== ABOUT SECTION ===== */

.about {
    max-width: 1170px;
    margin: 0 auto;
}

.about .container {
    margin: 118px auto;
    display: flex;
    justify-content: space-between;
}

.about .text {
    padding-top: 62px;
    max-width: 360px;
}

.about h3 {
    margin: 0;
    font-size: 18px;
    letter-spacing: 0px;
    color: #217BF4;
}

.about h2 {
    margin-top: 9px;
    margin-bottom: 24px;
}

.about p {
    margin: 0;
    font-size: 16px;
}

.about ul {
    margin-top: 67px;
}

.about li {
    margin-bottom: 12px;
    color: #217BF4;
    font-size: 20px;
}

.about li span {
    font-size: 18px;
    line-height: 18px;
    font-weight: medium;
    letter-spacing: 0px;
    color: #171648;
    cursor: pointer;
}

.about .photos {
    display: flex;
    gap: 29px;
}

.about .photos div:first-child {
    margin: 70px 0;
    position: relative;
}

.about .play {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about .play img {
    size: 44px;
    cursor: pointer;
}

.about .photos div:last-child {
    display: flex;
    flex-direction: column;
    gap: 32px;
}
